.Rproj.user
.Rhistory
.RData
.Ruserdata
scopus_api_key.txt
pubmed_hits_csv\internet_addiction_pubmed_001.csv
pubmed_hits_csv\internet_addiction_pubmed_002.csv
pubmed_hits_csv\internet_addiction_pubmed_003.csv
pubmed_hits_csv\internet_addiction_pubmed_004.csv
pubmed_hits_csv\internet_addiction_pubmed_005.csv
pubmed_hits_csv\internet_addiction_pubmed_006.csv
pubmed_hits_csv\internet_addiction_pubmed_007.csv
pubmed_hits_csv\internet_addiction_pubmed_008.csv
pubmed_hits_csv\internet_addiction_pubmed_009.csv
pubmed_hits_csv\internet_addiction_pubmed_010.csv
pubmed_hits_csv\internet_addiction_pubmed_011.csv
pubmed_hits_csv\internet_addiction_pubmed_012.csv
pubmed_hits_csv\internet_addiction_pubmed_013.csv
pubmed_hits_csv\internet_addiction_pubmed_014.csv
pubmed_hits_csv\internet_addiction_pubmed_015.csv
pubmed_hits_csv\internet_addiction_pubmed_016.csv
pubmed_hits_csv\internet_addiction_pubmed_017.csv
pubmed_hits_csv\internet_addiction_pubmed_018.csv
pubmed_hits_csv\internet_addiction_pubmed_019.csv
pubmed_hits_csv\internet_addiction_pubmed_020.csv
pubmed_hits_csv\internet_addiction_pubmed_021.csv
pubmed_hits_csv\internet_addiction_pubmed_022.csv
pubmed_hits_csv\internet_addiction_pubmed_023.csv
pubmed_hits_csv\internet_addiction_pubmed_024.csv
pubmed_hits_csv\internet_addiction_pubmed_025.csv
pubmed_hits_csv\internet_addiction_pubmed_026.csv
pubmed_hits_csv\internet_addiction_pubmed_027.csv
pubmed_hits_csv\internet_addiction_pubmed_028.csv
pubmed_hits_csv\internet_addiction_pubmed_029.csv
pubmed_hits_csv\internet_addiction_pubmed_030.csv
pubmed_hits_csv\internet_addiction_pubmed_031.csv
pubmed_hits_csv\internet_addiction_pubmed_032.csv
pubmed_hits_csv\internet_addiction_pubmed_033.csv
pubmed_hits_csv\internet_addiction_pubmed_034.csv
pubmed_hits_csv\internet_addiction_pubmed_035.csv
pubmed_hits_csv\internet_addiction_pubmed_036.csv
pubmed_hits_csv\internet_addiction_pubmed_037.csv
pubmed_hits_csv\internet_addiction_pubmed_038.csv
pubmed_hits_csv\internet_addiction_pubmed_039.csv
pubmed_hits_csv\internet_addiction_pubmed_040.csv
pubmed_hits_csv\internet_addiction_pubmed_041.csv
pubmed_hits_csv\internet_addiction_pubmed_042.csv
pubmed_hits_csv\internet_addiction_pubmed_043.csv
pubmed_hits_csv\internet_addiction_pubmed_044.csv
pubmed_hits_csv\internet_addiction_pubmed_045.csv
pubmed_hits_csv\internet_addiction_pubmed_046.csv
pubmed_hits_csv\internet_addiction_pubmed_047.csv
pubmed_hits_csv\internet_addiction_pubmed_048.csv
pubmed_hits_csv\internet_addiction_pubmed_049.csv
pubmed_hits_csv\internet_addiction_pubmed_050.csv
pubmed_hits_csv\internet_addiction_pubmed_051.csv
pubmed_hits_csv\internet_addiction_pubmed_052.csv
pubmed_hits_csv\internet_addiction_pubmed_053.csv
pubmed_hits_csv\internet_addiction_pubmed_054.csv
pubmed_hits_csv\internet_addiction_pubmed_055.csv
pubmed_hits_csv\internet_addiction_pubmed_056.csv
pubmed_hits_csv\internet_addiction_pubmed_057.csv
pubmed_hits_csv\internet_addiction_pubmed_058.csv
pubmed_hits_csv\internet_addiction_pubmed_059.csv
pubmed_hits_csv\internet_addiction_pubmed_060.csv
pubmed_hits_csv\internet_addiction_pubmed_061.csv
pubmed_hits_csv\internet_addiction_pubmed_062.csv
pubmed_hits_csv\internet_addiction_pubmed_063.csv
pubmed_hits_csv\internet_addiction_pubmed_064.csv
pubmed_hits_csv\internet_addiction_pubmed_065.csv
pubmed_hits_csv\internet_addiction_pubmed_066.csv
pubmed_hits_csv\internet_addiction_pubmed_067.csv
pubmed_hits_csv\internet_addiction_pubmed_068.csv
pubmed_hits_csv\internet_addiction_pubmed_069.csv
pubmed_hits_csv\internet_addiction_pubmed_070.csv
pubmed_hits_xml\internet_addiction_pubmed_001.xml
pubmed_hits_xml\internet_addiction_pubmed_002.xml
pubmed_hits_xml\internet_addiction_pubmed_003.xml
pubmed_hits_xml\internet_addiction_pubmed_004.xml
pubmed_hits_xml\internet_addiction_pubmed_005.xml
pubmed_hits_xml\internet_addiction_pubmed_006.xml
pubmed_hits_xml\internet_addiction_pubmed_007.xml
pubmed_hits_xml\internet_addiction_pubmed_008.xml
pubmed_hits_xml\internet_addiction_pubmed_009.xml
pubmed_hits_xml\internet_addiction_pubmed_010.xml
pubmed_hits_xml\internet_addiction_pubmed_011.xml
pubmed_hits_xml\internet_addiction_pubmed_012.xml
pubmed_hits_xml\internet_addiction_pubmed_013.xml
pubmed_hits_xml\internet_addiction_pubmed_014.xml
pubmed_hits_xml\internet_addiction_pubmed_015.xml
pubmed_hits_xml\internet_addiction_pubmed_016.xml
pubmed_hits_xml\internet_addiction_pubmed_017.xml
pubmed_hits_xml\internet_addiction_pubmed_018.xml
pubmed_hits_xml\internet_addiction_pubmed_019.xml
pubmed_hits_xml\internet_addiction_pubmed_020.xml
pubmed_hits_xml\internet_addiction_pubmed_021.xml
pubmed_hits_xml\internet_addiction_pubmed_022.xml
pubmed_hits_xml\internet_addiction_pubmed_023.xml
pubmed_hits_xml\internet_addiction_pubmed_024.xml
pubmed_hits_xml\internet_addiction_pubmed_025.xml
pubmed_hits_xml\internet_addiction_pubmed_026.xml
pubmed_hits_xml\internet_addiction_pubmed_027.xml
pubmed_hits_xml\internet_addiction_pubmed_028.xml
pubmed_hits_xml\internet_addiction_pubmed_029.xml
pubmed_hits_xml\internet_addiction_pubmed_030.xml
pubmed_hits_xml\internet_addiction_pubmed_031.xml
pubmed_hits_xml\internet_addiction_pubmed_032.xml
pubmed_hits_xml\internet_addiction_pubmed_033.xml
pubmed_hits_xml\internet_addiction_pubmed_034.xml
pubmed_hits_xml\internet_addiction_pubmed_035.xml
pubmed_hits_xml\internet_addiction_pubmed_036.xml
pubmed_hits_xml\internet_addiction_pubmed_037.xml
pubmed_hits_xml\internet_addiction_pubmed_038.xml
pubmed_hits_xml\internet_addiction_pubmed_039.xml
pubmed_hits_xml\internet_addiction_pubmed_040.xml
pubmed_hits_xml\internet_addiction_pubmed_041.xml
pubmed_hits_xml\internet_addiction_pubmed_042.xml
pubmed_hits_xml\internet_addiction_pubmed_043.xml
pubmed_hits_xml\internet_addiction_pubmed_044.xml
pubmed_hits_xml\internet_addiction_pubmed_045.xml
pubmed_hits_xml\internet_addiction_pubmed_046.xml
pubmed_hits_xml\internet_addiction_pubmed_047.xml
pubmed_hits_xml\internet_addiction_pubmed_048.xml
pubmed_hits_xml\internet_addiction_pubmed_049.xml
pubmed_hits_xml\internet_addiction_pubmed_050.xml
pubmed_hits_xml\internet_addiction_pubmed_051.xml
pubmed_hits_xml\internet_addiction_pubmed_052.xml
pubmed_hits_xml\internet_addiction_pubmed_053.xml
pubmed_hits_xml\internet_addiction_pubmed_054.xml
pubmed_hits_xml\internet_addiction_pubmed_055.xml
pubmed_hits_xml\internet_addiction_pubmed_056.xml
pubmed_hits_xml\internet_addiction_pubmed_057.xml
pubmed_hits_xml\internet_addiction_pubmed_058.xml
pubmed_hits_xml\internet_addiction_pubmed_059.xml
pubmed_hits_xml\internet_addiction_pubmed_060.xml
pubmed_hits_xml\internet_addiction_pubmed_061.xml
pubmed_hits_xml\internet_addiction_pubmed_062.xml
pubmed_hits_xml\internet_addiction_pubmed_063.xml
pubmed_hits_xml\internet_addiction_pubmed_064.xml
pubmed_hits_xml\internet_addiction_pubmed_065.xml
pubmed_hits_xml\internet_addiction_pubmed_066.xml
pubmed_hits_xml\internet_addiction_pubmed_067.xml
pubmed_hits_xml\internet_addiction_pubmed_068.xml
pubmed_hits_xml\internet_addiction_pubmed_069.xml
pubmed_hits_xml\internet_addiction_pubmed_070.xml

